#root {
  margin: 16px;
}

ul {
  display: block;
  text-align: left;
  border: 1px solid white;
  padding: 0;
  border-radius: 15px;
  margin: 10px;
}

button {
outline: 1px solid white;
border-radius: 8px;
background-color: silver;
color: black;
font-weight: bold;
width: 100%
}

button:active {
  background-color: gray;
  border: 3px groove silver;
}

img {
  padding: 8px;
}

li {
  list-style: none;
  margin: 8px;
  padding: 8px;
  
}

.zfighterDiv {
  display: flex;
  border: 10px ridge rgb(4, 217, 255);
  overflow-x: scroll;
}

.zfighterDiv::-webkit-scrollbar {
  display: scroll;
}

.teamDiv {
  display: flex;
  /*border: 10px ridge slategray;*/
  overflow-x: scroll;
  margin: 0px;
  margin-bottom: 20px;
}

.teamDiv::-webkit-scrollbar {
  display: scroll;
}

/*
.redButton {
visibility: hidden;}

.greenButton {
  visibility: visible;
}*/